ul{
    color:greenyellow;
    font-size:20;
}
#karti{
    background-color: blue;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
#siva{
    width:100px;
}